{% extends "base.html" %} {% block content %}



<h1>Plant Diseases Classifier Description</h1>

<div class="container">
    <p>
        5 different plants are trained based on the available datasets, more will be added. 
        The models are train separately to minimize confusion and to identify the disease attributed  to a plan
    </p>
</div>

<div class='btn-group-vertical'>
    <h3>Here are the Plants</h3>
    <p>Click the plant name and it will take you to the testing page</p>
    <ul>
        <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location='/tomato'">Tomato</button>
        <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location='/pepper'">Pepper</button>
        <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location='/potato'">Potato</button>
        <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location='/maize'">Maize</button>
        <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location='/cassava'">Cassava</button>
    </ul>
      
</div>


{% endblock %}